body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.card {
    border: 2px solid black;
    padding: 10px;
    margin: 20px auto;
    width: 250px;
    background-color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}
